<%- include ('./includes/head.ejs') %>

      <div class="dash-main">
        <div class="dash-main-top">
          <div class="form-action-flexed">
            <input
              type="text"
              class="input-space-search"
              placeholder="Enter detail to search"
              id="myInput"
              onkeyup="myFunction()"
            />
            <button class="btn search">SEARCH</button>
            <a href="/policy-selection" class="btn other search">ADD NEW</a>
          </div>
        </div>

        <div class="dash-main-body">
          <table class="info-list-table">
            <thead>
              <tr>
                <th>Policy No.</th>
                <th>Sum Insured</th>
                <th>Claim Amount</th>
                <th>Paid Amount</th>
                <th>Compensation</th>
                <th>Date of loss</th>
                
                <th>Date of offer</th>
              </tr>
            </thead>

            <tbody id="myTable">
              <% if(claims.length > 0) { %> 
                <% for(let claim of claims) { %>
                  <input type='hidden' value="<%= claim.id %>" name="claimId">
              <tr onclick="document.location='/singleClaim/<%=claim.id %>'">
                <td><%=claim.policy.regN%></td>
                <td><%=claim.policy.sumInsured%></td>
                <td><%=claim.claimAmount%></td>
                <td><%=claim.offerAmount%></td>
                <td><%=claim.compensation%></td>
                <td><%=claim.lossDate%></td>
                <td><%=claim.offerDate%></td>
              </tr>
              <% } %>
              <% } else { %>
                <h2>nothing to display</h2>
            <% } %>
            </tbody>
          </table>
        </div>

        <a href="" class="view-more-link">View More</a>

        <div class="date-time">
          <%- include ('./includes/date.ejs') %>
        </div>
      </div>
      <%- include ('./includes/sidePane.ejs') %>
    </div>
    <script>
      function myFunction() {
          var input, filter, found, table, tr, td, i, j;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td");
              for (j = 0; j < td.length; j++) {
                  if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                      found = true;
                  }
              }
              if (found) {
                  tr[i].style.display = "";
                  found = false;
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
    </script>
  </body>
</html>
