<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <div class="dash-container">
      <div class="pop-up-back" id="popup_background"></div>
      <div class="pop-box" id="popup_panel">
        <div class="pop-box-panel">
          <h2>Select Policy Type</h2>
          <div class="policy-otions">
            <a href="/motor-details/<%= clientId%>" class="policy-type-select">Motor</a>
            <a href="/non-motor-details/<%= clientId%>" class="policy-type-select"
              >Non-Motor</a
            >
          </div>
        </div>
      </div>
      <div class="dash-top">
        <div class="dash-top-right">
          <img src="/images/avatar.jpg" alt="Profile Image" />
          <h3><%= userName %></h3>
        </div>
      </div>

      <div class="dash-main">
        <!-- <div class="dash-main-top">
          <div class="form-action-flexed">
            <input
              type="text"
              class="input-space-search"
              placeholder="Enter detail to search"
            />
            <button class="btn search">SEARCH</button>
            <a href="new-client.html" class="btn other search">ADD NEW</a>
          </div>
        </div> -->

        <div class="dash-main-body">
          <div class="client-profile-page">
            <div class="client-details">
              <div class="client-image">
                <img src="/images/avatar.jpg" alt="" />
                <div class="policy-otion-actions">
                  <a
                    class="btn other search"
                    style="
                      width: 150px;
                      display: flex;
                      justify-content: center;
                      background-color: #b61f1f;
                    "
                    id="new_policy"
                    >Add New Policy</a
                  >
                </div>
              </div>
              <h2>Client Details</h2>
              <% if(policies.length > 0) { %> 
                
              <div class="client-details-row">
                <div class="details-col">
                  <div class="client-prof-info">
                    <h3>Name:</h3>
                    <h4><%= policies[0].client.firstName%> <%= policies[0].client.lastName%></h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>Physical Address:</h3>
                    <h4><%= policies[0].client.town%></h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>P. O. Box :</h3>
                    <h4><%= policies[0].client.boxOffice%> <%= policies[0].client.town%>, KENYA</h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>Phone:</h3>
                    <h4><%= policies[0].client.phoneNumber%></h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>Email:</h3>
                    <h4><%= policies[0].client.email%></h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>ID| Passport| DL Number:</h3>
                    <h4><%= policies[0].client.idNumber%></h4>
                  </div>
                </div>
                <div class="details-col">
                  <div class="client-prof-info">
                    <h3>Business Type:</h3>
                    <h4><%= policies[0].client.businessType%></h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>Nature of Business:</h3>
                    <h4><%= policies[0].client.businessNature%></h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>KRA Pin:</h3>
                    <h4><%= policies[0].client.pin%></h4>
                  </div>
                  <div class="client-prof-info">
                    <h3>Registration Number:</h3>
                    <h4><%= policies[0].client.regN%></h4>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="client-documents"
              style="
                display: flex;
                flex-direction: initial;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-bottom: 2rem;
                border-bottom: 1px solid #0000003b;
              "
            >
            <h2 style="width: 100%">Client Scanned Documents</h2>
            <!-- download="<%= policies.kraCert %>" -->
            <a href="../<%= policies[0].client.kraCert %>" class="document" download="<%= policies[0].client.kraCert %>" >KRA Certificate</a>
            <input type="hidden" name="myclientId" value="<%= policies.clientId%>">
            <a href="" class="document">ID | Cert of Incorporation</a>
            </div>

            <% } else { %>
              <h2>nothing to display</h2>
          <% } %>
            <table class="info-list-table" style="margin-bottom: 3rem">
              <thead>
                <tr>
                  <th>Reg No.</th>
                  <th>Client Name</th>
                  <th>Sum Insured</th>
                  <th>Type of Cover</th>
                  <th>From</th>
                  <th>To</th>
                </tr>
              </thead>

              <tbody>
                <% if(policies.length > 0) { %> 
                  <% for(let policy of policies) { %>
                    <input type="hidden" value="policy.id" name="policyId">
                <tr onclick="document.location='/mv-details/<%=policy.id%>'">
                  <td><%= policy.regN %></td>
                  <td><%= policy.client.firstName %> <%= policy.client.lastName %></td>
                  <td><%=policy.sumInsured %></td>
                  <td><%= policy.coverType %></td>
                  <td><%= policy.policyStart %></td>
                  <td><%= policy.policyEnd %></td>
                </tr>
                <% } %>
            <% } else { %>
              <h2>nothing to display</h2>
          <% } %>
              </tbody>
            </table>
           
          </div>
        </div>

        <div class="date-time">
          <%- include ('./includes/date.ejs') %>
        </div>
      </div>
      <%- include ('./includes/sidePane.ejs') %>
    </div>
    <script>
      var policy = document.getElementById("new_policy");
      var pop_up_back = document.getElementById("popup_background");
      var pop_up_panel = document.getElementById("popup_panel");
      policy.addEventListener("click", () => {
        pop_up_back.classList.toggle("show");
        pop_up_panel.classList.toggle("show");
      });

      pop_up_panel.addEventListener("click", () => {
        pop_up_back.classList.remove("show");
        pop_up_panel.classList.remove("show");
      });
    </script>
  </body>
</html>
