   <%- include ('./includes/head.ejs') %>
        <div class="dash-main">
            <div class="dash-main-top">
                <div class="form-action-flexed">
                    <input type="text" class="input-space-search" placeholder="Enter detail to search">
                    <button class="btn search">SEARCH</button>
                    <a href="/new-client" class="btn other search">ADD NEW</a>
                </div>
            </div>

            <div class="dash-main-body">
                <table class="info-list-table">
                    <thead>
                            <tr>
                              <th>Client No.</th>
                              <th>Name</th>
                              <th>Pin</th>
                              <th>P. O. Box</th>
                              <th>Type</th>
                              <th>Pending Premium</th>
                            </tr>
                    </thead>
                    
                    <tbody>
                        <% if(clients.length > 0) { %> 
                            <% for(let client of clients) { %>
                        
                        <tr onclick="document.location='/client-profile/<%= client.id%>'">
                            <td><%= client.regNumber%></td>
                            <td><%= client.firstName%> <%= client.lastName%></td>
                            <td><%= client.pin%></td>
                            <td><%= client.boxOffice%>  <%= client.town%></td>
                            <td><%= client.businessType%></td>
                            <td>Kshs 1000000</td>
                        </tr>
                        <% } %>
                        <% } else { %>
                          <h2>nothing to displayh2>
                        <% } %>
                        
                    </tbody>
                </table>
            </div>

            <a href="" class="view-more-link">View More</a>
            <%- include ('./includes/date.ejs') %>
           
        </div>
        <%- include ('./includes/sidePane.ejs') %>
        </div>
    </div>
</body>
</html>