   <%- include ('./includes/head.ejs') %>
        <div class="dash-main">
            <div class="dash-main-top">
                <div class="form-action-flexed">
                    <input
                     type="text" 
                     class="input-space-search" 
                     placeholder="Enter detail to search"
                      id="myInput"
                      onkeyup="myFunction()"
                      >
                    <button class="btn search">SEARCH</button>
                    <a href="/new-client" class="btn other search">ADD NEW</a>
                </div>
            </div>

            <div class="dash-main-body">
                <table class="info-list-table">
                    <thead>
                            <tr>
                              <th>Client No.</th>
                              <th>Name</th>
                              <th>Pin</th>
                              <th>P. O. Box</th>
                              <th>Type</th>
                    
                            </tr>
                    </thead>
                    
                    <tbody id="myTable">
                        <% if(clients.length > 0) { %> 
                            <% for(let client of clients) { %>
                        
                        <tr onclick="document.location='/client-profile/<%= client.id%>'">
                            <td><%= client.id%></td>
                            <td><%= client.firstName%> <%= client.lastName%></td>
                            <td><%= client.pin%></td>
                            <td><%= client.boxOffice%>  <%= client.town%></td>
                            <td><%= client.businessType %></td>
                            
                        </tr>
                        <% } %>
                        <% } else { %>
                          <h2>nothing to display</h2>
                        <% } %>
                        
                    </tbody>
                </table>
            </div>

            <a href="" class="view-more-link">View More</a>
            <%- include ('./includes/date.ejs') %>
           
        </div>
        <%- include ('./includes/sidePane.ejs') %>
        </div>
    </div>
    <script>
        function myFunction() {
            var input, filter, found, table, tr, td, i, j;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                    }
                }
                if (found) {
                    tr[i].style.display = "";
                    found = false;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
      </script>
</body>
</html>