<%- include ('./includes/head.ejs') %>
      <div class="dash-main">
        <!-- <div class="dash-main-top">
          <div class="form-action-flexed">
            <input
              type="text"
              class="input-space-search"
              placeholder="Enter detail to search"
            />
            <button class="btn search">SEARCH</button>
            <a href="new-client.html" class="btn other search">ADD NEW</a>
          </div>
        </div> -->

        <div class="dash-main-body">
          <div class="client-profile-page">
            <div class="client-details">
              <h2>Motor Policy Details</h2>
             <form action="/motor-details/<%= clientId %>" method="POST" >
              <div class="client-details-row">
                <div class="details-col">
                  <div class="client-prof-info">
                    <div class="user-input-group">
                      <input
                        type="text"
                        class="user-reg-input"
                        placeholder="Policy Name"
                        name="policyName"
                      />
                    </div>
                  </div>
                  <div class="client-prof-info">
                    <div class="user-input-group">
                      <input
                        type="text"
                        class="user-reg-input"
                        placeholder="Branch"
                        name="branch"
                      />
                    </div>
                  </div>
                  <div class="client-prof-info">
                    <div class="user-input-group">
                      <select
                        name="mvClass"
                        id="class_selection"
                        class="user-reg-input"
                        style="padding: 0 0 0 1rem"
                      >
                        <option value="" selected>Select MV Class</option>
                        <option value="">--PRIVATE--</option>
                        <option value="PMV">
                          Private Motor Vehicle
                        </option>
                        <option value="Private Motor Cycle">
                          Private Motor Cycle
                        </option>
                        <option value="">--COMMERCIAL--</option>
                        <option value="General Cartage">
                          General Cartage

                        </option>
                        <option value="Special Vehicles">
                          Special Vehicles
                        </option>
                        <option value="Institution Vehicles">
                          Institution Vehicles
                        </option>
                        <option value="Public Service Vehicles">
                          Public Service Vehicles
                        </option>
                        <option value="Chauffer Drive">Chauffer Drive</option>
                      </select>
                    </div>
                  </div>
                  <div class="benefits-list" id="benefits_list">
                    <div class="benefits-content">
                      <div class="check-box-holder">
                        <div class="check-box">
                          <input
                            type="checkbox"
                            
                            id="excess_protector"
                          
                          />
                          <label for="excess_protector">Excess Protector rate</label>
                        </div>
                        <div class="check-box-input">
                          <div class="client-prof-info">
                            <div class="user-input-group">
                              <input
                              name="exPro"
                                type="text"
                                id="excess_basic_premium"
                                class="user-reg-input"
                                disabled
                                placeholder="Basic Premium"
                              />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="check-box-holder">
                        <div class="check-box">
                          <input
                            type="checkbox"
                            
                            id="political_and_terror"
                            value="Political Violence Terrorism"
                          />
                          <label for="political_and_terror"
                            >Political Violence &amp; Terrorism Rate</label
                          >
                        </div>
                        <div class="check-box-input">
                          <div class="client-prof-info">
                            <div class="user-input-group">
                              <input
                              name="poliTe"
                                type="number"
                                disabled
                                id="political_violence_basic_premium"
                                class="user-reg-input"
                                placeholder="Basic Premium"
                              />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="check-box-holder">
                        <div class="check-box">
                          <input
                            type="checkbox"
                          
                            id="personal_accident"
                            value="Personal Accident"
                            
                          />
                          <label for="personal_accident"
                            >Personal Accident</label
                          >
                        </div>
                        <div class="check-box-input">
                          <div class="client-prof-info">
                            <div class="user-input-group">
                              <input
                              name="perAcc"
                                type="number"
                                class="user-reg-input"
                                disabled
                                id="personal_accident_basic_premium"
                                placeholder="Basic Premium"
                              />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="check-box-holder">
                        <div class="check-box-input">
                          <div class="user-input-group" style="padding: 0">
                            <input
                          disabled
                              class="user-reg-input"
                              id="other_benefits_non"
                              placeholder="Other Benefit"
                              
                            />
                          </div>
                        </div>
                        <div class="check-box-input">
                          <div class="user-input-group">
                            <input
                            name="otherBe"
                              type="number"
                              class="user-reg-input"
                              id="other_benefits_basic_premium"
                              placeholder="Basic Premium"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="client-prof-info">
                    <div class="user-input-group">
                      <input
                        type="text"
                        class="user-reg-input"
                        placeholder="Registration Number"
                        name="regN"
                      />
                    </div>
                  </div>
                  <div class="client-prof-info">
                    <div class="user-input-group">
                      <input
                        type="text"
                        class="user-reg-input"
                        placeholder="Other benefit name/description"
                        name="otherName"
                      />
                    </div>
                  </div>
                  <div class="client-prof-info">
                    <div class="user-input-group">
                      <select
                        name="insurer"
                        id=""
                        class="user-reg-input"
                        style="padding: 0 0 0 1rem"
                      >
                        <option value="" selected>Select Insurer</option>
                        <option value="Sanlum">Sanlum</option>
                        <option value="Jubilee">Jubilee</option>
                        <option value="AAR">AAR</option>
                      </select>
                    </div>
                  </div>
                  <div class="client-prof-info">
                    <div class="user-input-group">
                      <input
                        type="text"
                        class="user-reg-input"
                        placeholder="Engine Number"
                        name="engineNumber"
                      />
                    </div>
                  </div>
                  <div class="user-split-row">
                    <div class="user-input-group">
                      <input
                      name="stampDuty"
                        type="number"
                        class="user-reg-input"
                        placeholder="Stamp Duty"
                       
                      />
                    </div>
                   
                  </div>
                
                </div>
                <div class="details-col">
                  <div class="client-prof-info">
                    <div class="user-input-group">
                      <select
                        name="coverType"
                        id=""
                        class="user-reg-input"
                        style="padding: 0 0 0 1rem"
                      >
                        <option value="" selected>Select Cover Type</option>
                        <option value="Comprehensive">Comprehensive</option>
                        <option value="Third Party">Third Party</option>
                        <option value="Third Party Fire and Theft">Third Party Fire &amp; Theft</option>
                      </select>
                    </div>
                  </div>
                  <div class="client-prof-info">
                    <div class="user-input-group">
                      <input
                        type="text"
                        class="user-reg-input"
                        placeholder="Policy Number"
                        name="policyNumber"
                      />
                    </div>
                  </div>
                  <div class="client-prof-info">
                    <p
                      style="
                        width: 100%;
                        padding-left: 1rem;
                        text-align: center;
                      "
                    >
                      Policy Period
                    </p>
                    <div class="user-split-row">
                      <div class="user-input-group">
                        <input
                        name="policyStart"
                          type="text"
                          class="user-reg-input"
                          placeholder="From"
                          onblur="(this.type='text')"
                          onfocus="(this. type='date')"
                        />
                      </div>
                      <div class="user-input-group">
                        <input
                        name="policyEnd"
                          type="text"
                          class="user-reg-input"
                          placeholder="To"
                          onblur="(this.type='text')"
                          onfocus="(this. type='date')"
                          
                        />
                      </div>
                    </div>
                  </div>
                  <div class="client-prof-info">
                    <div class="user-input-group">
                      <input
                        type="number"
                        class="user-reg-input"
                        placeholder="Sum Insured"
                        name="sumInsured"
                      />
                    </div>
                  </div>
                  <div class="client-prof-info">
                    <div class="user-input-group">
                      <input
                  
                        type="text"
                        class="user-reg-input"
                        placeholder="Logbook Number"
                        name="logBookNumber"
                      />
                    </div>
                  </div>
                  <div class="client-prof-info">
                    <div class="user-input-group">
                      <input
                        type="text"
                        class="user-reg-input"
                        placeholder="Chasis Number"
                        name="chasisNumber"
                      />
                    </div>
                  </div>
                  <div class="user-split-row">
                    
                    <div class="user-input-group">
                      <input
                      name="rate"
                        type="text"
                        class="user-reg-input"
                        placeholder="Rate"
                        
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% if (fileError) {%>
              <h3> <%= fileError%></h3> 
          <%}%>
            <div class="client-documents">
              <h2>Scan Documents</h2>
              <div
                class="upload-holder"
                style="
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                "
              >
                <label class="kra_label" for="kra_upload"> Logbook </label>
                
                <input
                  type="file"
                  id="kra_upload"
                  class="input-upload-documents"
                  
                />
                <p class="upload-file-info-kra"></p>
              </div>
            </div>
            <div class="btn-holder" style="margin: 0 0 2rem 0">
              <input type="hidden" name="signature" value="<%=firstName%>">
              <button class="create-btn" type="submit">Create Policy</button>
            </div>
          </form>
          </div>
        </div>

        <div class="date-time">
          <%- include ('./includes/date.ejs') %>
        </div>
      </div>
      <%- include ('./includes/sidePane.ejs') %>
    </div>
    <script type="text/javascript" src="upload-files.js"></script>
    <script>
      var classs = document.getElementById("class_selection");
      var selected = classs.options[classs.selectedIndex].value;

      var benefits_list = document.getElementById("benefits_list");

      var personal_accident = document.getElementById("personal_accident");
      var personal_accident_basic_premium = document.getElementById(
        "personal_accident_basic_premium"
      );
      var excess_protector = document.getElementById("excess_protector");
      var excess_basic_premium = document.getElementById(
        "excess_basic_premium"
      );
      var political_violence_basic_premium = document.getElementById(
        "political_violence_basic_premium"
      );
      var political_and_terror = document.getElementById(
        "political_and_terror"
      );

      classs.addEventListener("change", function () {
        if (classs.options[classs.selectedIndex].value == "") {
          benefits_list.style.height = "0";
          benefits_list.style.opacity = "0";
        } else {
          benefits_list.style.height = "auto";
          benefits_list.style.opacity = "1";
          benefits_list.style.pointerEvents = "all";
        }
      });

      excess_protector.addEventListener("change", function () {
        if (excess_protector.checked) {
          excess_basic_premium.disabled = false;
        } else {
          excess_basic_premium.disabled = true;
        }
      });

      political_and_terror.addEventListener("change", function () {
        if (political_and_terror.checked) {
          political_violence_basic_premium.disabled = false;
        } else {
          political_violence_basic_premium.disabled = true;
        }
      });

      personal_accident.addEventListener("change", function () {
        if (personal_accident.checked) {
          personal_accident_basic_premium.disabled = false;
        } else {
          personal_accident_basic_premium.disabled = true;
        }
      });
    </script>
  </body>
</html>
