<%- include ('./includes/head.ejs') %>

      <div class="dash-main">
        <div class="dash-main-body">
          <h2 class="account-title">New User Account</h2>
          <p class="account-desc">Enter user details in the below spaces</p>
          <div class="user-reg-space">
            <form action="/create" class="user-reg-form" method="post">
              <div class="user-split-row">
                <div class="user-input-group">
                  <input
                    type="text"
                    class="user-reg-input"
                    placeholder="First name"
                    name="firstName"
                  />
                </div>
                <div class="user-input-group">
                  <input
                    type="text"
                    class="user-reg-input"
                    placeholder="Last name"
                    name="lastName"
                  />
                </div>
              </div>
              <div class="user-input-group">
                <input
                  type="email"
                  class="user-reg-input"
                  placeholder="Email"
                  name="email"
                />
              </div>
              <div class="user-input-group">
                <input
                  type="tel"
                  class="user-reg-input"
                  placeholder="Phone numbe"
                  name="phoneNumber"
                />
              </div>
              <div class="btn-holder">
                <button class="create-btn" type="submit">Create Account</button>
              </div>
              <% if (errorMessage) {%>
                <h3> <%= errorMessage%></h3> 
            <%}%>
            </form>
          </div>
          <h2 style="margin: 2rem 0 1rem 0">Other Users</h2>
            <table class="info-list-table" style="margin: 0 0 3rem 0">
              <thead>
                <tr>
                  <th>First Name.</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Options</th>
                </tr>
              </thead>

              <tbody>
              <% if(users.length > 0) { %> 
                  <% for(let user of users) { %>
                  <tr>
                    <td><%= user.firstName %></td>
                    <td><%= user.lastName %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phoneNumber %></td>
                    <td class="users">
                      <a href="/user-profile-view/<%= user._id%>" class="user-option">Edit</a>
                      <!-- <a href="" class="user-option">Delete</a> -->
                    </td>
                  </tr>
                  <% } %>
              <% } else { %>
                <h2>nothing to displayh2>
              <% } %>
            </tbody>
          </table>
        <a href="/manage-users" class="view-more-link">View More</a>
        </div>

        <div class="date-time">
          <%- include ('./includes/date.ejs') %>
        </div>
      </div>
      <%- include ('./includes/sidePane.ejs') %>
    </div>
  </body>
</html>
