<%- include ('./includes/head.ejs') %>

        <div class="dash-main">
            <div class="dash-main-top">
                <div class="form-action-flexed">
                    <input 
                    type="text" class="input-space-search"
                     placeholder="Enter detail to search"
                      id="myInput"
                      onkeyup="myFunction()"
                      >
                    <button class="btn search">SEARCH</button>
                    <a href="/new-client" class="btn other search">ADD NEW</a>
                </div>
            </div>

            <div class="dash-main-body">
                <div class="selection-btns">
                    <a href="" class="list-select-btn active">Motor</a>
                    <a href="" class="list-select-btn">Non-Motor</a>
                </div>
                <table class="info-list-table">
                    <thead>
                            <tr>
                              <th>Reg No.</th>
                              <th>Client Name</th>
                              <th>Sum Insured</th>
                              <th>Type of Cover</th>
                              <th>From</th>
                              <th>To</th>
                            </tr>
                    </thead>
                    
                    <tbody id="myTable">
                        <% if(policies.length > 0) { %> 
                            <% for(let policy of policies) { %>
                                <input type="hidden" value="<%=policy.id%>" name="policyId">
                        <tr onclick="document.location='/policyView/<%=policy.id%>'">
                            <td><%= policy.regN %></td>
                            <td><%= policy.client.firstName%>  <%= policy.client.lastName%></td>
                            <td><%= policy.sumInsured %></td>
                            <td><%= policy.coverType %> </td>
                            <td><%= policy.policyStart %></td>
                            <td><%= policy.policyEnd %></td>
                        </tr>
                        <% } %>
                        <% } else { %>
                          <h2>nothing to display</h2>
                      <% } %>
                       
                    </tbody>
                </table>
            </div>

            <a href="" class="view-more-link">View More</a>

            <div class="date-time">
                <%- include ('./includes/date.ejs') %>
            </div>
        </div>
        <%- include ('./includes/sidePane.ejs') %>
    </div>
    <script>
        function myFunction() {
            var input, filter, found, table, tr, td, i, j;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                    }
                }
                if (found) {
                    tr[i].style.display = "";
                    found = false;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
      </script>
</body>
</html>