<%- include ('./includes/head.ejs') %>

      <div class="dash-main">
        <div class="dash-main-top">
          <h2 style="text-align: start; width: 100%">User Profiles</h2>
        </div>

        <div class="dash-main-body">
          <div class="user-profile-details">
            <div class="user-profile-logo">
              <img src="/images/avatar.jpg" alt="user-profile" />
            </div>
            <div class="prof-row">
              <div class="prof-col">
                <form action="/user-profile-view" class="user-reg-form" method="post">
                  <div class="user-split-row">
                    <div class="user-input-group">
                      <input
                        type="text"
                        disabled
                        class="user-reg-input"
                        placeholder="First name"
                        name="firstName"
                        value="<%= user.firstName %>"
                      />
                    </div>
                    <div class="user-input-group">
                      <input
                      disabled
                        type="text"
                        class="user-reg-input"
                        placeholder="last Name"
                        name="lastName"
                        value="<%= user.lastName %>"
                      />
                    </div>
                  </div>

                  <div class="user-input-group">
                    <input
                    disabled
                    disabled
                      type="email"
                      class="user-reg-input"
                      placeholder="Email"
                      name="email"
                      value="<%= user.email %>"
                    />
                  </div>

                  <div class="user-input-group">
                    <input
                    disabled
                      type="tel"
                      class="user-reg-input"
                      placeholder="<%= user.phoneNumber %>"
                      name="phoneNumber"
                      value="0797923201"
                    />
                  </div>
                  <div class="user-input-group">
                    <select
                      name="userLevel"
                      id=""
                      class="user-reg-input"
                      style="padding: 0 0 0 1rem"
                    >
                      <option value="">Select user priviledge level</option>
                      <option value="">Low Level</option>
                      <option value="" selected>Middle Level</option>
                      <option value="">High Level</option>
                    </select>
                  </div>
                  <div class="btn-holder">
                    <button class="create-btn">Update Details</button>
                  </div>
                  <input type="hidden" value="<%= user._id %>" name="userId">
                </form>
              </div>
              <div class="prof-col">
                <h3>Management Options</h3>
                <form action="/reset-flag" method="POST">
                  <input type="hidden" value="<%= user._id %>" name="userId">
                  <button class="btn prof-options"> Reset Password </button>
              </form>
                
                <form action="/delete-user" method="POST">
                  <input type="hidden" value="<%= user._id %>" name="userId">
                  <button class="btn prof-options">Delete Account</button> 
              </form>
                <% if (updateSuccess) {%>
                  <h3> <%= updateSuccess%></h3> 
                   
              <%}%>
              <% if (resetSuccess) {%>
                <h3> <%= resetSuccess%></h3> 
                 
            <%}%>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="date-time">
          <%- include ('./includes/date.ejs') %>
        </div>
      </div>
      <%- include ('./includes/sidePane.ejs') %>
    </div>
  </body>
</html>
